/*primero para dispositivos moviles*/
html,body{
	display:flex;
	background-color:black;
	color:white;
	font-family:monospace;}

img{
	max-width:100px;
	height:auto;
}

*{box-sizing:border-box;}

.row::after{
	content:"";
	clear:both;
	display:table;
}
.main{grid-gap:10px;padding:10px;}
.header{border:1px solid white;margin-bottom:10px;}
.col-1{border:1px solid white;margin-bottom:10px;display:grid;place-items:center;}
.col-2{border:1px solid white;margin-bottom:10px;}
.col-3{border:1px solid white;margin-bottom:10px;}
.col-4{border:1px solid white;margin-bottom:10px;}
.col-5{border:1px solid white;margin-bottom:10px;}
.footer{border:1px solid white;margin-bottom:10px;}

/*
*{writting-mode:;
}
*/

.header,.footer{display:grid;place-items:center;padding:10px;margin-bottom:10px;}
/*
.col-1{width:25%;}
.col-2{width:75%;}
*/
[class*="col"]{
	float:left;
	width:100%;
	padding:10px;
}

@media only screen and (max width:500px){
[class="col-"]{
width:100%;	
}
}

/*segundo para computadoras de escritorio*/
@media only screen and (min-width:500px){
	body{background-color:white;color:black;}
/*.main{padding:10px;}*/
.header{border:1px solid black;}
.foto_datos{display:flex; grid-gap:10px;}
.col-1{border:1px solid black;width:25%;}
.col-2{border:1px solid black;width:75%;}
.col-3{border:1px solid black;}
.col-4{border:1px solid black;}
.col-5{border:1px solid black;}
.footer{border:1px solid black;}
}
